.wrapper {
	position: relative;
	padding: 90px 15px 115px 0;
}

.bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 82%;
	padding: 0px 0px 46.9% 0px;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.body {
	position: relative;
	z-index: 1;
	max-width: 700px;
	margin-bottom: 40px;
}

.label {
	margin-bottom: 32px;
}

.slogan {
	font-size: 1.75rem;
	line-height: 1.3;
	margin: 20px 0 110px 0;
}

.title {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 24px;
}

.description {
	position: relative;
	z-index: 1;
}
.text {
	font-size: 1.875rem;
	line-height: 1.3;
}

.info {
	display: inline-block;
	font-size: 1.75rem;
	&:first-child {
		padding: 13px 22px;
		border-radius: 12px;
		background-color: rgba(255, 255, 255, 0.2);
	}
	&:not(:last-child) {
		margin-right: 32px;
	}
}

.button {
	padding: 24px 32px;
	img {
		height: 20px;
		width: 26px;
	}
}

.attention {
	display: flex;
	align-items: flex-start;
	margin: 24px 0 0 0;
	img {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
	p {
		font-size: 1.75rem;
		color: #4b4b4b;
		line-height: 1.3;
	}
}
